{{>header}}
    <h2>Oferta de Cursos Disponibles</h2>

    <p>
      Apreciad@ aspirante, a continuación encontrará la oferta de cursos disponibles. Por favor seleccione la opción 'Ver más' para encontrar mayor detalle del curso de interés, así como para iniciar el proceso de inscripción:
    </p>

    {{{listarCursos 'ofertaAspirante'}}}


{{>footer}}