body{
	color:#grey;
	font-family: arial;
	min-height: 100vh
}
footer{
	color: blue;
	border-top: 2px solid grey;
	margin-top: 16px;
}
header{
	margin-top: 16px;
	margin-bottom: 48px;
}
h1{
	font-size: 48px;
	margin-bottom: 16px;

}
h1{
	font-size: 24;
	margin-bottom: 16px;
}